* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia;
  color: black;
}

html,
body {
  height: 100%;
  width: 100%;
}
#main {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#cursor {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: crimson;
  position: fixed;
  font-size: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 9;
}

#image {
  height: 30vw;
  width: 70vw;
  background-color: red;
  position: relative;
}
#overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: transparent;
    z-index: 10;
}
#image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
